.alert{
    padding: 10px;
    background-color: rgb(40, 91, 82);
    color: white;
    text-align: center;
}
.header{
    padding: 10px 50px;
}
.logo{
    display: flex;
}
.logoName{
    margin-right: 20px;
}
.link{
    margin: auto 10px;
}