*{
  --RaleFont: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
}
body {
  margin: 0;
  font-family: var(--RaleFont) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color5);
}

